/* style.css */

html, body {
  margin: 0;
  height: 100%;
}

.page {
  background-color: #1D1717;
  height: 100%;
  overflow: hidden;
  position: relative;
}

/* style.css */

@keyframes blink {
  0% {
    color: #B93C3F;
  }
  50% {
    color: #711414; /* Màu trắng hoặc màu nền của bạn */
  }
  100% {
    color: #B93C3F;
  }
}

.red {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 2.7vw; /* Đổi giá trị này thành 2.7vw */
  text-align: center;
  position: absolute;
  top: 55%;
  width: 100%;
  z-index: 2;
  padding: 2vw 0;
  animation: blink 0.5555s infinite;
}


.snow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.snowman {
  position: absolute;
  pointer-events: none;
}