@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Nunito+Sans:ital,opsz,wght@0,6..12,600;0,6..12,800;1,6..12,200;1,6..12,300&family=Roboto+Condensed&display=swap');
html, body {
  margin: 0;
  height: 100%;
}

.page {
  background-color: #1D1717;
  height: 100%;
  overflow: hidden;
  position: relative;
}

@keyframes blink {
  0% {
    color: #B93C3F;
  }
  50% {
    color: #711414;
  }
  100% {
    color: #B93C3F;
  }
}

.red {
  font-family: "Nunito";
  font-size: 2.7vw;
  text-align: center;
  position: absolute;
  top: 55%;
  width: 100%;
  z-index: 2;
  padding: 2vw 0;
  animation: blink 0.5555s infinite;
}

.snow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* @media query cho các thiết bị di động */
@media only screen and (max-width: 767px) {
  .red {
    font-size: 4vw; /* Điều chỉnh giảm kích thước chữ cho thiết bị di động */
  }
}
